@import url('https://fonts.googleapis.com/css?family=Kaushan+Script|Lato&display=swap'); // THIS PAGE IS WHERE VARIABLES ARE STORED, ALSO USE OF A PARTIAL 

$background:     #022993;
$text-color:     #EEE8D6;
$darkblue:       darkblue;
$orange:         orange;
$green:          lightgreen;
$yellow:         yellow;
$font-body:      'Lato';
$font-headings:  'Kaushan Script';


$color-item-border: $orange;
$color-media-head: $green;